-
    const listCart = [
        {
            img : "./assets/images/product1.png",
            title : "Máy khoan black decker",
            amount : "1",
            price : "1.2500.000 Đ"
        },
        {
            img : "./assets/images/product2.png",
            title : "Máy khoan black decker",
            amount : "1",
            price : "1.2500.000 Đ"
        },
        {
            img : "./assets/images/product3.png",
            title : "Máy khoan black decker",
            amount : "1",
            price : "1.2500.000 Đ"
        }
    ]