-
    const megaMenus = [
        {
            title: "máy khoan đa năng cnc",
            listItems: [
                'Máy khoan CNC điện', 
                'Máy phay đa năng 3R', 
                'Máy hàn, cắt kim loại',
                'Máy in phun tích điện',
                'Máy ép gỗ chuẩn Nano'
            ]
        },
        {
            title: "máy cắt plasmar",
            listItems: [
                'Máy khoan CNC điện', 
                'Máy phay đa năng 3R', 
                'Máy hàn, cắt kim loại',
                'Máy in phun tích điện',
                'Máy ép gỗ chuẩn Nano']
        },
        {
            title: "máy phay công nghiệp",
            listItems: [
                'Máy khoan CNC điện', 
                'Máy phay đa năng 3R', 
                'Máy hàn, cắt kim loại',
                'Máy in phun tích điện',
                'Máy ép gỗ chuẩn Nano']
        },
        {
            title: "máy ép nhựa thủ công",
            listItems: [
                'Máy khoan CNC điện', 
                'Máy phay đa năng 3R', 
                'Máy hàn, cắt kim loại',
                'Máy in phun tích điện']
        },
        {
            title: "máy uốn tôn điện",
            listItems: [
                'Máy khoan CNC điện', 
                'Máy phay đa năng 3R', 
                'Máy hàn, cắt kim loại',
                'Máy in phun tích điện']
        },
         {
            title: "máy nén khí cnc",
            listItems: [
                'Máy khoan CNC điện', 
                'Máy phay đa năng 3R', 
                'Máy hàn, cắt kim loại',
                'Máy in phun tích điện']
        }
    ]