-
    const listNav = [
        {
            name : "trang chủ",
            url : "./index.html"
        },
        {
            name : "giới thiệu",
        },
        {
            name : "sản phẩm",
            url : "./product.html"
        },
        {
            name : "tin khuyến mại",
        },
        {
            name : "dịch vụ",
        },
        {
            name : "liên hệ",
        }
    ]
