-
    const listItemProducts = [
        {
            img : "../src/assets/images/product1.png",
            price : "1.550.000 Đ",
            title : "Máy khoan black decker",
            rates : [
                "fas fa-star",
                "fas fa-star",
                "fas fa-star",
                "fas fa-star",
                "fas fa-star"
            ],
            feedback : "(12 đánh giá)"
        },
        {
            img : "../src/assets/images/product2.png",
            price : "1.550.000 Đ",
            title : "Máy khoan black decker",
            rates : [
                "fas fa-star",
                "fas fa-star",
                "fas fa-star",
                "fas fa-star",
                "fas fa-star"
            ],
            feedback : "(12 đánh giá)"
        },
        {
            img : "../src/assets/images/product3.png",
            price : "1.550.000 Đ",
            title : "Máy khoan black decker",
            rates : [
                "fas fa-star",
                "fas fa-star",
                "fas fa-star",
                "fas fa-star",
                "fas fa-star"
            ],
            feedback : "(12 đánh giá)"
        },
        {
            img : "../src/assets/images/product4.png",
            price : "1.550.000 Đ",
            title : "Máy khoan black decker",
            rates : [
                "fas fa-star",
                "fas fa-star",
                "fas fa-star",
                "fas fa-star",
                "fas fa-star"
            ],
            feedback : "(12 đánh giá)"
        },
        {
            img : "../src/assets/images/product5.png",
            price : "1.550.000 Đ",
            title : "Máy khoan black decker",
            rates : [
                "fas fa-star",
                "fas fa-star",
                "fas fa-star",
                "fas fa-star",
                "fas fa-star"
            ],
            feedback : "(12 đánh giá)"
        },
        {
            img : "../src/assets/images/product6.png",
            price : "1.550.000 Đ",
            title : "Máy khoan black decker",
            rates : [
                "fas fa-star",
                "fas fa-star",
                "fas fa-star",
                "fas fa-star",
                "fas fa-star"
            ],
            feedback : "(12 đánh giá)"
        },
    ]