-
    const listImages = [
        "./assets/images/product2.png",
        "./assets/images/product3.png",
        "./assets/images/product4.png",
        "./assets/images/product5.png",
        "./assets/images/product6.png",
    ]
