extends product.pug

block productDetailHeading
    i.product-filter__page-icon.fas.fa-caret-right
    h3.product-filter__page-heading Máy khoan CNC 3D

block productDetail
    include ../product-page/detail-product/index
