-
    const listCategoryNews = [
        "Danh mục tin tức",
        "Đời sống pháp luật (5)",
        "Kinh tế trong nước (8)",
        "Sức khỏe và gia đình (9)",
        "Công nghệ thông tin (5)",
        "Tin tức khác (12)"
    ]
