-
    const listCategoryImages = [
        {
            title : "Thư viện hình ảnh",
            imgs : [
                "./assets/images/library-img-1.png",
                "./assets/images/library-img-2.png",
                "./assets/images/library-img-3.png",
                "./assets/images/library-img-4.png",
                "./assets/images/library-img-5.png",
                "./assets/images/library-img-6.png"
            ]
        }
    ]
