-
    const blogItems = [
        {
            img : "./assets/images/blog-1.png",
            title : "thế hệ máy khoan cắt cnc đầu tiên đã được tái sử dụng",
            date : "Thứ năm, ngày 23/10/2015 8:00 AM",
            author : "Design Team",
            comment : "12",
            content : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta.,Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta.,Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta."
        },
        {
            img : "./assets/images/blog-2.png",
            title : "thế hệ máy khoan cắt cnc đầu tiên đã được tái sử dụng",
            date : "Thứ năm, ngày 23/10/2015 8:00 AM",
            author : "Design Team",
            comment : "12",
            content : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta.,Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta.,Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta."
        },
        {
            img : "./assets/images/blog-3.png",
            title : "thế hệ máy khoan cắt cnc đầu tiên đã được tái sử dụng",
            date : "Thứ năm, ngày 23/10/2015 8:00 AM",
            author : "Design Team",
            comment : "12",
            content : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta.,Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta.,Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta."
        },
        {
            img : "./assets/images/blog-4.png",
            title : "thế hệ máy khoan cắt cnc đầu tiên đã được tái sử dụng",
            date : "Thứ năm, ngày 23/10/2015 8:00 AM",
            author : "Design Team",
            comment : "12",
            content : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta.,Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta.,Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus asperiores numquam nemo voluptatum soluta voluptatem voluptate eligendi quo in assumenda, eius totam. Iusto deleniti fuga nihil magni quaerat, consequuntur soluta."
        }
    ]
