section.section-news-letter
    .home-page-news-letter__content
        h3 Đăng kí để nhận tin tức khuyến mãi hàng tuần
        form
            input(type="text" placeholder="Nhập email của bạn...")
            button Đăng kí
