.section-brand {
    position: relative;
    background-color: $bg-top;
    margin-top: 5rem;
    
    .home-page-brand {
        @include flex-center(space-between, center);

        .home-page-brand__item {
            @include respond(mobile) {
                &:nth-child(n+2) {
                    display: none;
                }

                &:nth-child(1) {
                    text-align: center;
                    width: 100%;
                }
            }
            
            padding: 20px 0;
        }
    }

    .home-page-brand__button {
        position: absolute;
        cursor: pointer;
        
        i {
            color: $text-gray;
        }
    }

    .button-left {
        @include respond(tablet) {
            left: -10px;
        }
        @include respond(mobile) {
            left: 30px;
        }

        top: 45%;
        left: -30px;
    }

    .button-right {
        @include respond(tablet) {
            right: -10px;
        }
        @include respond(mobile) {
            right: 30px;
        }

        top: 45%;
        right: -30px;
    }
}