-
    const listHotProduct = [
        {
            img : "./assets/images/product7.png",
            price : "1.550.000 Đ",
            title : "Máy khoan black decker",
            rate : [
                "fas fa-star",
                "fas fa-star",
                "fas fa-star",
                "fas fa-star",
                "fas fa-star"
            ],
            feedback : "(12 đánh giá)"
        },
        {
            img : "./assets/images/product5.png",
            price : "1.550.000 Đ",
            title : "Máy khoan black decker",
            rate : [
                "fas fa-star",
                "fas fa-star",
                "fas fa-star",
                "fas fa-star",
                "fas fa-star"
            ],
            feedback : "(12 đánh giá)"
        },
        {
            img : "./assets/images/product6.png",
            price : "1.550.000 Đ",
            title : "Máy khoan black decker",
            rate : [
                "fas fa-star",
                "fas fa-star",
                "fas fa-star",
                "fas fa-star",
                "fas fa-star"
            ],
            feedback : "(12 đánh giá)"
        },
        {
            img : "./assets/images/product10.png",
            price : "1.550.000 Đ",
            title : "Máy khoan black decker",
            rate : [
                "fas fa-star",
                "fas fa-star",
                "fas fa-star",
                "fas fa-star",
                "fas fa-star"
            ],
            feedback : "(12 đánh giá)"
        },
        {
            img : "./assets/images/product9.png",
            price : "1.550.000 Đ",
            title : "Máy khoan black decker",
            rate : [
                "fas fa-star",
                "fas fa-star",
                "fas fa-star",
                "fas fa-star",
                "fas fa-star"
            ],
            feedback : "(12 đánh giá)"
        },
    ]