mixin listCategory
    each item in listCategory
        li.category-item
            img(src="./assets/images/icon.png" alt="icon")
            a.category-item__link(href='#')= item

mixin product
    each listItemProduct in listItemProducts
        - const {img, title, price, rates, feedback} = listItemProduct
            .col-lg-4.col-md-6.home-product-mobile
                +productItem(img, title, price, rates, feedback)
