include ./data/brand
include ./mixin/mixin

section.section-brand
    .container
        .row
            .col-lg-12
                +brand
                .home-page-brand__button.button-left
                    i.fas.fa-chevron-left
                .home-page-brand__button.button-right
                    i.fas.fa-chevron-right
