-
    const listCategoryPromotions = [
        {
            title : "Sản phẩm khuyến mại",
            listItem : [
                {
                    img : "./assets/images/product2.png",
                    title : "Máy khoan black decker loại 1",
                    price : "1.550.000 Đ"
                },
                {
                    img : "./assets/images/product9.png",
                    title : "Máy khoan black decker loại 1",
                    price : "1.550.000 Đ"
                },
                {
                    img : "./assets/images/product4.png",
                    title : "Máy khoan black decker loại 1",
                    price : "1.550.000 Đ"
                },
                {
                    img : "./assets/images/product6.png",
                    title : "Máy khoan black decker loại 1",
                    price : "1.550.000 Đ"
                },
                {
                    img : "./assets/images/product8.png",
                    title : "Máy khoan black decker loại 1",
                    price : "1.550.000 Đ"
                }
            ]
        }
    ]
