- const listMenu = ["Giới thiệu chung", "Hệ thống cửa hàng", "Chính sách ưu đãi", "Thông tin tuyển dụng"];
- const listSystem = ["Hệ thống cửa hàng A","Hệ thống cửa hàng A1","Hệ thống cửa hàng A2","Hệ thống cửa hàng A3",];