-
    const listPays = [
        "./assets/images/bank1.png",
        "./assets/images/bank2.png",
        "./assets/images/bank3.png",
        "./assets/images/bank4.png",
        "./assets/images/bank5.png",
        "./assets/images/bank6.png",
        "./assets/images/bank7.png",
        "./assets/images/bank8.png",
    ]
