-
    const quickAnswers = [
        {
            icon : "fas fa-phone",
            text : "Tư vấn miễn phí (24/7)",
            phone : "1900 650 650"
        },
        {
            icon : "fas fa-comments",
            text : "Góp ý - phản hồi - thắc mắc",
            phone : "1900 650 650"
        }
    ]