html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
  margin: 0;
}

.header__top {
  border-bottom: 2px solid #9c9c9c;
  background-color: #f7f7f7;
}

.header__top .header__top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top .header__top__container .header__top__left i {
  padding: 17px;
}

@media (max-width: 425px) {
  .header__top .header__top__container .header__top__left i {
    display: none;
  }
}

.header__top .header__top__container .header__top__left i:hover {
  color: #fff;
  background-color: #f5bd10;
  cursor: pointer;
}

.header__top .header__top__container .header__top__left i + i {
  border-right: 1px solid #9c9c9c;
}

.header__top .header__top__container .header__top__left i.active {
  background-color: #f5bd10;
  color: #fff;
}

@media (max-width: 425px) {
  .header__top .header__top__container .header__top__right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__top .header__top__container .header__top__right a {
  font-size: 12px;
  font-weight: bold;
  padding: 17px;
  text-transform: uppercase;
}

.header__top .header__top__container .header__top__right a:hover {
  color: #fff;
  background-color: #f5bd10;
  cursor: pointer;
}

.header__top .header__top__container .header__top__right a {
  border-right: 1px solid #9c9c9c;
}

@media (max-width: 425px) {
  .header__top .header__top__container .header__top__right a {
    border-right: none;
    padding-left: 40px;
  }
}

.header__top .header__top__container .header__top__right a:nth-child(1) {
  border-left: 1px solid #9c9c9c;
}

@media (max-width: 425px) {
  .header__top .header__top__container .header__top__right a:nth-child(1) {
    border-left: none;
    border-right: 1px solid #9c9c9c;
    padding-right: 50px;
  }
}

.header__top__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px;
}

@media (max-width: 425px) {
  .header__top__logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 769px) {
  .header__top__logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 425px) {
  .header__top__logo .header__hotline, .header__top__logo .header__order {
    display: none;
  }
}

@media (max-width: 769px) {
  .header__top__logo .header__hotline, .header__top__logo .header__order {
    display: none;
  }
}

.header__top__logo .header__hotline h4, .header__top__logo .header__order h4 {
  font-size: 16px;
  font-weight: bold;
  color: #f5bd10;
  text-transform: uppercase;
}

.header__top__logo .header__hotline span, .header__top__logo .header__order span {
  font-size: 14px;
  font-weight: 300;
  color: #9c9c9c;
}

@media (max-width: 425px) {
  .header__top__logo .header__order {
    display: none;
  }
}

@media (max-width: 769px) {
  .header__top__logo .header__order {
    display: none;
  }
}

.header__top__logo .header__search {
  position: relative;
  width: 30%;
}

@media (max-width: 425px) {
  .header__top__logo .header__search {
    margin-top: 15px;
    width: 100%;
  }
}

@media (max-width: 769px) {
  .header__top__logo .header__search {
    margin-top: 15px;
    width: 100%;
  }
}

.header__top__logo .header__search input {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #9c9c9c;
  width: 100%;
  outline: none;
}

.header__top__logo .header__search i {
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #9c9c9c;
}

.header__menu {
  background-color: #202020;
}

.header__menu .header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu .header__navbar .navbar,
.header__menu .header__navbar .navbar-cart {
  position: relative;
  display: none;
  color: #fff;
}

@media (max-width: 425px) {
  .header__menu .header__navbar .navbar,
  .header__menu .header__navbar .navbar-cart {
    display: block;
  }
}

@media (max-width: 769px) {
  .header__menu .header__navbar .navbar,
  .header__menu .header__navbar .navbar-cart {
    display: block;
  }
}

@media (max-width: 425px) {
  .header__menu .header__navbar .navbar {
    border-right: 1px solid #9c9c9c;
    padding: 30px;
    margin: 0;
    font-size: 24px;
  }
}

@media (max-width: 769px) {
  .header__menu .header__navbar .navbar {
    border-right: 1px solid #9c9c9c;
    padding: 30px;
    margin: 0;
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  .header__menu .header__navbar .navbar-cart {
    display: block;
  }
}

.header__menu .header__navbar #menu-toggle,
.header__menu .header__navbar #cart-toggle {
  display: none;
}

.header__menu .header__navbar .navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 425px) {
  .header__menu .header__navbar .navbar__list {
    display: none;
    position: absolute;
    top: 58%;
    left: 0;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #202020;
  }
}

@media (max-width: 769px) {
  .header__menu .header__navbar .navbar__list {
    display: none;
    position: absolute;
    top: 57%;
    left: 0;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #202020;
  }
}

.header__menu .header__navbar .navbar__list .navbar__item a {
  font-size: 14px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  color: #fff;
  padding: 32px 30px;
  text-decoration: none;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header__menu .header__navbar .navbar__list .navbar__item a {
    font-size: 12px;
    padding: 39px 30px;
  }
}

.header__menu .header__navbar .navbar__list .navbar__item a:hover {
  background-color: #f5bd10;
}

@media (max-width: 425px) {
  .header__menu .header__navbar .navbar__list .navbar__item a {
    width: 100vw;
  }
}

@media (max-width: 769px) {
  .header__menu .header__navbar .navbar__list .navbar__item a {
    width: 100vw;
  }
}

.header__menu .header__navbar .navbar__list .navbar__item {
  position: relative;
}

.header__menu .header__navbar .navbar__list .navbar__item .navbar__mega-menu {
  display: none;
  position: absolute;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  left: 15px;
  width: calc(81vw + 3px);
  padding: 20px;
}

@media (max-width: 425px) {
  .header__menu .header__navbar .navbar__list .navbar__item .navbar__mega-menu {
    position: static;
    width: 100vw;
    margin: 0;
    height: 400px;
    overflow-y: auto;
  }
}

@media (max-width: 769px) {
  .header__menu .header__navbar .navbar__list .navbar__item .navbar__mega-menu {
    position: static;
    width: 100vw;
    margin: 0;
    height: 400px;
    overflow-y: auto;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header__menu .header__navbar .navbar__list .navbar__item .navbar__mega-menu {
    width: calc(91vw - 3px);
  }
}

.header__menu .header__navbar .navbar__list .navbar__item .navbar__mega-menu .menu__item .menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.header__menu .header__navbar .navbar__list .navbar__item .navbar__mega-menu .menu__item .menu__title h4 {
  font-size: 14px;
  font-weight: bold;
  color: #202020;
  text-transform: uppercase;
  padding-left: 6px;
}

.header__menu .header__navbar .navbar__list .navbar__item .navbar__mega-menu .menu__item .navbar__menu__list {
  font-size: 12px;
  font-weight: 400;
}

.header__menu .header__navbar .navbar__list .navbar__item .navbar__mega-menu .menu__item .navbar__menu__list .navbar__menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9c9c9c;
}

.header__menu .header__navbar .navbar__list .navbar__item .navbar__mega-menu .menu__item .navbar__menu__list .navbar__menu__item a {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  text-transform: initial;
  color: #9c9c9c;
  padding: 8px 14px;
}

.header__menu .header__navbar .navbar__list .navbar__item .navbar__mega-menu .menu__item .navbar__menu__list .navbar__menu__item a:hover {
  background-color: #f7f7f7;
  color: #f5bd10;
}

.header__menu .header__navbar .navbar__list .navbar__item .navbar__mega-menu .menu__item:nth-child(2n+1) {
  margin-top: 20px;
}

.header__menu .header__navbar .navbar__list .navbar__item .navbar__mega-menu .navbar__image {
  max-width: 100%;
  height: 100%;
}

.header__menu .header__navbar .navbar__list .navbar__item .navbar__menu {
  display: none;
  position: absolute;
  left: 0;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 15vw;
}

@media (max-width: 425px) {
  .header__menu .header__navbar .navbar__list .navbar__item .navbar__menu {
    position: static;
    width: 100vw;
  }
}

@media (max-width: 769px) {
  .header__menu .header__navbar .navbar__list .navbar__item .navbar__menu {
    position: static;
    width: 100vw;
  }
}

.header__menu .header__navbar .navbar__list .navbar__item .navbar__menu .menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px;
}

.header__menu .header__navbar .navbar__list .navbar__item .navbar__menu .menu__title:hover {
  background-color: #f5bd10;
  color: #fff;
  cursor: pointer;
}

.header__menu .header__navbar .navbar__list .navbar__item .navbar__menu .menu__title:hover > a,
.header__menu .header__navbar .navbar__list .navbar__item .navbar__menu .menu__title:hover > i {
  color: #fff;
}

.header__menu .header__navbar .navbar__list .navbar__item .navbar__menu .menu__title a {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
  color: #202020;
  margin-left: 8px;
  padding: 10px 0;
}

.header__menu .header__navbar .navbar__list .navbar__item .navbar__menu .menu__title:hover .navbar__menu-drop {
  display: block;
}

.header__menu .header__navbar .navbar__list .navbar__item .navbar__menu .navbar__menu-drop {
  position: absolute;
  left: 100%;
  top: 25%;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 15vw;
  display: none;
}

@media (max-width: 425px) {
  .header__menu .header__navbar .navbar__list .navbar__item .navbar__menu .navbar__menu-drop {
    position: static;
    width: 50vw;
    margin-left: 20px;
  }
}

@media (max-width: 769px) {
  .header__menu .header__navbar .navbar__list .navbar__item .navbar__menu .navbar__menu-drop {
    position: static;
    width: 50vw;
    margin-left: 20px;
  }
}

.header__menu .header__navbar .navbar__list .navbar__item .navbar__menu .navbar__menu-drop i {
  color: #202020;
}

.header__menu .header__navbar .navbar__list .navbar__item .navbar__menu .navbar__menu-drop .menu-title:hover {
  color: #fff;
}

.header__menu .header__navbar .navbar__list .navbar__item:hover .navbar__menu {
  display: block;
}

.header__menu .header__navbar .navbar__list .navbar__item:hover .navbar__mega-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__menu .header__navbar .navbar__list .navbar__item:nth-child(1) {
  background-color: #f5bd10;
}

@media (max-width: 425px) {
  .header__menu .header__navbar .navbar__list .navbar__item:nth-child(1) {
    background-color: transparent;
  }
}

@media (max-width: 769px) {
  .header__menu .header__navbar .navbar__list .navbar__item:nth-child(1) {
    background-color: transparent;
  }
}

.header__menu .header__navbar .navbar__list .navbar__item + .navbar__item {
  border-right: 1px solid #9c9c9c;
}

@media (max-width: 425px) {
  .header__menu .header__navbar .navbar__list .navbar__item + .navbar__item {
    border-right: none;
  }
}

@media (max-width: 769px) {
  .header__menu .header__navbar .navbar__list .navbar__item + .navbar__item {
    border-right: none;
  }
}

@media (max-width: 425px) {
  .header__menu .header__navbar #menu-toggle:checked + .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 769px) {
  .header__menu .header__navbar #menu-toggle:checked + .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__menu .header__navbar .header__menu__cart {
  position: relative;
  border-left: 1px solid #9c9c9c;
  border-right: 1px solid #9c9c9c;
  padding: 24px 30px;
  display: block;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 425px) {
  .header__menu .header__navbar .header__menu__cart {
    border-right: none;
  }
}

@media (max-width: 769px) {
  .header__menu .header__navbar .header__menu__cart {
    border-right: none;
  }
}

.header__menu .header__navbar .header__menu__cart:hover .menu__cart {
  display: block;
}

.header__menu .header__navbar .header__menu__cart:before {
  content: "0";
  position: absolute;
  top: 35%;
  right: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #f5bd10;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
}

.header__menu .header__navbar .header__menu__cart .menu__cart {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 20vw;
  cursor: default;
}

@media (max-width: 425px) {
  .header__menu .header__navbar .header__menu__cart .menu__cart {
    width: 100vw;
    right: -15px;
  }
}

@media (max-width: 769px) {
  .header__menu .header__navbar .header__menu__cart .menu__cart {
    width: 100vw;
    right: -15px;
    padding: 24px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header__menu .header__navbar .header__menu__cart .menu__cart {
    width: 27vw;
  }
}

.header__menu .header__navbar .header__menu__cart .menu__cart .menu__cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border-bottom: 1px solid #9c9c9c;
  cursor: pointer;
}

.header__menu .header__navbar .header__menu__cart .menu__cart .menu__cart__item:hover {
  background-color: #fff;
}

.header__menu .header__navbar .header__menu__cart .menu__cart .menu__cart__item .menu__cart__content {
  margin-left: 10px;
  position: relative;
}

.header__menu .header__navbar .header__menu__cart .menu__cart .menu__cart__item .menu__cart__content h4 {
  color: #202020;
  font-size: 14px;
  font-weight: bold;
}

.header__menu .header__navbar .header__menu__cart .menu__cart .menu__cart__item .menu__cart__content .cart__item span {
  font-size: 12px;
  font-weight: 700;
  color: #9c9c9c;
}

.header__menu .header__navbar .header__menu__cart .menu__cart .menu__cart__item .menu__cart__content .cart__item span:nth-child(3) {
  color: #ff9c9c;
}

.header__menu .header__navbar .header__menu__cart .menu__cart .menu__cart__item .menu__cart__content i {
  position: absolute;
  top: -2px;
  right: -10px;
  border-radius: 50%;
  border: 1px solid #9c9c9c;
  color: #9c9c9c;
  padding: 5px;
  font-size: 10px;
}

@media (max-width: 769px) {
  .header__menu .header__navbar .header__menu__cart .menu__cart .menu__cart__item .menu__cart__content i {
    top: -20px;
    right: -50px;
  }
}

@media (max-width: 425px) {
  .header__menu .header__navbar .header__menu__cart .menu__cart .menu__cart__item .menu__cart__content i {
    top: -5px;
    right: -20px;
  }
}

.header__menu .header__navbar .header__menu__cart .menu__cart .menu__cart__total {
  padding: 20px;
}

.header__menu .header__navbar .header__menu__cart .menu__cart .menu__cart__total .cart__total__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu .header__navbar .header__menu__cart .menu__cart .menu__cart__total .cart__total__content span {
  text-transform: uppercase;
  color: #202020;
}

.header__menu .header__navbar .header__menu__cart .menu__cart .menu__cart__total .cart__total__content span:nth-child(2) {
  font-size: 14px;
  font-weight: bold;
  color: #ff9c9c;
  margin-left: 4px;
}

.header__menu .header__navbar .header__menu__cart .menu__cart .menu__cart__total button {
  font-size: 14px;
  font-weight: bold;
  background-color: #f5bd10;
  text-transform: uppercase;
  padding: 10px 8px;
  float: right;
  margin: 10px 0 20px 0;
  color: #fff;
  cursor: pointer;
}

.header__menu .header__navbar .header__menu__cart .menu__cart .menu__cart__total button:hover {
  opacity: 0.8;
}

@media (max-width: 425px) {
  .header__menu .header__navbar .header__menu__cart #cart-toggle:checked + .menu__cart {
    display: none;
  }
}

@media (max-width: 769px) {
  .header__menu .header__navbar .header__menu__cart #cart-toggle:checked + .menu__cart {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */