mixin rating(rates)
    - for (var i=0; i< rates; i++)
        i.fas.fa-star

mixin productItem(img, title, price, rates, feedback)
    .col-lg-4.col-md-6.home-product-mobile
        .home-product-item
            img.img-fluid(src=img)
            span.home-product-item__price=price
            h4.home-product-item__name=title
            .home-product-item__rating
                .home-product-item__star
                    +rating(rates)
                span.home-product-item__feedback= `(${feedback} đánh giá)`
            .home-product-item__button
                a.home-product-item__buy(href="#") Mua ngay 
                a.home-product-item__detail(href="#") Xem chi tiết
