include ./data/cartItem
include ./data/title
include ./mixin/mixin

section.section-cart.section-list-product
    .container
        .row
            .col-lg-12.product-page__heading
                .category__heading
                    h3 Trang chủ
                    i.product-filter__page-icon.fas.fa-caret-right
                    h3.product-filter__page-heading Giỏ hàng
            .cart
                table.table.table-bordered.cart-container
                    thead
                        tr
                            +titleCart
                    tbody
                        +cartItem
            .cart-total-container.col-lg-12
                .cart-total-title
                    span Tổng tiền:
                    span thuế(vat):
                    span thanh toán:
                .cart-total-content
                    span 6.850.000 Đ
                    span 6.850.000 Đ
                    span.total 7.520.000 Đ
            .cart-button.col-lg-12
                .cart-btn.cart-continue tiếp tục mua hàng
                .cart-btn.cart-pay thanh toán
