.section-new__product {
    margin-top: 5rem;

    .home-filter__page {
        .home-filter__page-option {
            @include flex-center(center, center);
            @include respond(tablet) {
                display: none;
            }
            margin-right: 20px;

            .home-filter__page-option-item {
                border: solid 1px $text-gray;
                padding: 7px 14px;
                background-color: $bg-white;
                margin: 0 8px;

                a {
                    display: block;
                    color: $text-gray;
                    text-decoration: none;

                    &:hover {
                        color: $text-white;
                    }
                }

                &:hover {
                    background-color: $bg-primary;
                }
            }
        }
        
        .home-filter__page-button {
            @include flex-center(center, center);
        }
    }
}